/*
	Basic starter project for Interactive Web Design I.
	Revised 2013-01-29.
*/



/* boilerplate ---------------------------------------------- */

/* use a more intuitive box sizing model (http://is.gd/wNVjAo) */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }




/* project-specific styles ---------------------------------- */
/* (put your styles here) */


body {
  font-family: 'Nunito', sans-serif;
  background-color: white;
  border-top: solid 30px #013372; 
}

th {
  padding: 10px;
}

strong {
  font-size: 20px;
}

.logo {
  float: left;
  position: relative;
  padding-top: 100px;
}

.navbar {
  float: right;
  text-align: center;
  background-color: white;
  margin-top: 175px;
  margin-right: 10px;
}

.nav li {
  display: inline-block;
  background-image: none;
  margin:0; padding:0;
}

.barsFood li {
  display: inline-block;
  background-image: none;
  margin:0; padding:0;
}

.barsFood a {
  padding: 10px;
  font-size: 15px;
}
.mainphoto {

}

.ontop {
  position: relative;
  top: -195px;
  text-align: center;
  padding-top: 2em;
  padding-bottom: 2em;
  color: white;
  background-color: rgba(153,153,153, .7);
}

.arrow {
  margin-right: auto;
  margin-left: auto;
  margin-top: -200px;
  width: 210px;
  position: relative;
}

.row {
  text-align: center;
}


.nav a {
  background-color:#ffffff;
  padding:1px 5px;
  color:#013372;
  font-size: 20px;
}

.nav a:hover {
  color:#333;
  background:#d3ddde;
  -moz-transition:all 0.2s ease-in;
  -webkit-transition:all 0.2s ease-in;
  transition:all 0.2s ease-in}@media screen and (max-width: 600px){#content>
.local-nav{width:100%;margin:0 0 0 0;text-align:center}}

.socialmedia {
  float: left;
}


#copyright {
  border-top: 8px solid #B8B8B8;
  padding: 10px 0px;
  margin: 15px 0px;
  text-align: center;
}

#copyrightplaces {
  padding: 10px 0px;
  margin: 15px 0px;
  text-align: center;
  padding-top: 450px;
}

/* GRAD.HTML */
.content {
  padding-top: 250px;
}


/* Places.HTML */
#mapHome {
  float: left;
}

#mapGtown {
  float: right;
}


/* Contact.html*/
.leftside {
  float: left;
}

.rightside {
  float: left;
  padding-left: 75px;
}

.twitter {
padding-top: 110px;
}

/* layout */

.container{
	width: 1000px; 
	margin: auto;
  background
}

.clear{clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0}.clearfix:after{clear:both;content:' ';display:block;font-size:0;line-height:0;visibility:hidden;width:0;height:0}* html .clearfix,*:first-child+html .clearfix{zoom:1}



